html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #141414; 
}

::-webkit-scrollbar-thumb {
  background: #DB3138;
  border: 3px solid #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #DB3138;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
