.nav {
    position: fixed;
    width: 100vw;
    z-index: 10;
    height: 80px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
}

.nav_active {
    background-color: rgba(0, 0, 0, .95);
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_ul {
    display: flex;
    margin-bottom: 0;
}

.nav_li {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position:relative;
    list-style-type: none;
    margin: 0 20px;
}

.nav_li::after {
    margin-bottom: -5px;
    position: absolute;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    right:0;
    left: initial;
}

.nav_li:hover::after {
    margin-bottom: -5px;
    width: 100%;
    right:initial;
    left: 0;
    transition: width .3s;
}

.nav_li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
}

.nav_burger {
    cursor: pointer;
    width: 60px;
    height: 25px;
}

.nav_burger_line {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 3px;
    background-color: #DB3138;
}

.nav_burger_left_line {
    margin-top: 8px;
    margin-bottom: 8px;
    transform: translateX(-12px);
}